<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <title>vue-hw</title>
    <link href="styles/style-hw1.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>
    <div id="app">
        <button type="button" @click="getData()" class="changeButton">換一批</button>
        <div id="all">
        <div id="inner"  v-for="person in information">
            <div class="in" id = 'picture' >
                <div id="position-absolute" style="top: 20px;right: 20px;">
                    <button type="button" class="btn btn-outline-danger rounded-pill">
                        <i class="bi bi-heart fs-5"></i>
                    </button>
                </div>
                    <image :src="person.picture.large" ></image>            
                </div>
            <div id = "name" class="in">
                {{person.name.title}}.{{person.name.first}} {{person.name.last}}
                <span class="emo" v-if="person.gender==='male'">👨</span>
                <span class="emo" v-else>👩</span>
            </div>
            <div id="old" class="in">
                age : {{person.dob.age}}
            </div>
            <div id="email" class="in">
                Email : {{person.email}}
            </div>
            <br>
            <div id="phone" class="in">
                phone : {{person.phone}}
            </div>
            <br>
            <div id="cell" class="in">
                cell : {{person.cell}}
            </div>
            <br>
            <div id="city" class="in">
                city : {{person.location.city}}
            </div>
            <br>
            <div id="state" class="in">
                state : {{person.location.state}}
            </div>
            <br>
            <div id="country" class="in">
                country : {{person.location.country}}
            </div>
            <br>
            <div id="postcode" class="in">
                postcode : {{person.location.postcode}}
            </div>
            <br>
            <div id="address" class="in">
                address : {{person.location.city}} {{person.location.state}} {{person.location.country}}{{person.location.postcode}}
            </div>
            <br>
        </div>
        </div>
    </div>
    <script src="script/vue-hw1.js"></script>
</body>